In [1]:
import pandas as pd
import datetime
import numpy as np

In [2]:
doorA_lambda = 50
doorB_lambda = 70
doorC_lambda = 28
doorD_lambda = 100
doorE_lambda = 42

dt = datetime.datetime(2015, 1, 1)
end = datetime.datetime(2017, 12, 31, 23, 59, 59)
step = datetime.timedelta(minutes = 30)
dif = (end-dt).days+1

num_time = dif*24*2
A = np.random.poisson(doorA_lambda, num_time)
B = np.random.poisson(doorB_lambda, num_time)
C = np.random.poisson(doorC_lambda, num_time)
D = np.random.poisson(doorD_lambda, num_time)
E = np.random.poisson(doorE_lambda, num_time)

In [3]:
minHour = 8
maxHour = 21
sigma = 1
mu = 14.5
result = []
i = 0
while dt < end:
    result.append(dt.strftime('%Y-%m-%d %H:%M'))
    x = dt.hour
    p = np.exp(-np.power((x-mu),2)/(2*np.power(sigma,2)))/np.sqrt(2*np.pi*np.power(sigma,2))+1
    if dt.hour<minHour or dt.hour>=maxHour:
        A[i]=B[i]=C[i]=D[i]=E[i]=0
    if dt.weekday()>3: #Weekend
        A[i]=int(A[i]*1.2)
        B[i]=int(B[i]*1.2)
        C[i]=int(C[i]*1.2)
        D[i]=int(D[i]*1.2)
        E[i]=int(E[i]*1.2)
#     if dt.hour<11 or dt.hour>19: #Very early or very late
    A[i]=int(A[i]*p)
    B[i]=int(B[i]*p)
    C[i]=int(C[i]*p)
    D[i]=int(D[i]*p)
    E[i]=int(E[i]*p)        
    i += 1
    dt += step

In [4]:
mall_data = pd.concat([pd.DataFrame(result),pd.DataFrame(A),pd.DataFrame(B),pd.DataFrame(C), pd.DataFrame(D), pd.DataFrame(E)], axis = 1)

In [5]:
mall_data.columns = ['Date', 'DoorA', 'DoorB', 'DoorC', 'DoorD', 'DoorE']
mall_data

                   Date  DoorA  DoorB  DoorC  DoorD  DoorE
0      2015-01-01 00:00      0      0      0      0      0
1      2015-01-01 00:30      0      0      0      0      0
2      2015-01-01 01:00      0      0      0      0      0
3      2015-01-01 01:30      0      0      0      0      0
4      2015-01-01 02:00      0      0      0      0      0
5      2015-01-01 02:30      0      0      0      0      0
6      2015-01-01 03:00      0      0      0      0      0
7      2015-01-01 03:30      0      0      0      0      0
8      2015-01-01 04:00      0      0      0      0      0
9      2015-01-01 04:30      0      0      0      0      0
10     2015-01-01 05:00      0      0      0      0      0
11     2015-01-01 05:30      0      0      0      0      0
12     2015-01-01 06:00      0      0      0      0      0
13     2015-01-01 06:30      0      0      0      0      0
14     2015-01-01 07:00      0      0      0      0      0
15     2015-01-01 07:30      0      0      0      0      0
16     2015-01-01 08:00     49     59     26     97     43
17     2015-01-01 08:30     53     80     30    112     39
18     2015-01-01 09:00     58     63     31    106     48
19     2015-01-01 09:30     56     68     28     84     48
20     2015-01-01 10:00     55     63     19     95     44
21     2015-01-01 10:30     50     65     23     98     51
22     2015-01-01 11:00     50     81     34     99     38
23     2015-01-01 11:30     51     65     27     94     49
24     2015-01-01 12:00     53     75     34     97     32
25     2015-01-01 12:30     46     66     38     88     30
26     2015-01-01 13:00     66     81     36    128     36
27     2015-01-01 13:30     71     84     35     90     46
28     2015-01-01 14:00     50     93     31    131     56
29     2015-01-01 14:30     64     70     35    136     67
...                 ...    ...    ...    ...    ...    ...
52578  2017-12-31 09:00     66     87     37    116     40
52579  2017-12-31 09:30     56     81     36    116     49
52580  2017-12-31 10:00     62     86     28    121     43
52581  2017-12-31 10:30     60     94     30    105     43
52582  2017-12-31 11:00     75     96     33    120     49
52583  2017-12-31 11:30     62     97     26    118     50
52584  2017-12-31 12:00     50     86     26    100     40
52585  2017-12-31 12:30     76     65     26    105     55
52586  2017-12-31 13:00     71     98     27    132     65
52587  2017-12-31 13:30     76    102     35    133     62
52588  2017-12-31 14:00     68    102     45    163     77
52589  2017-12-31 14:30    109    102     51    146     60
52590  2017-12-31 15:00    105    129     45    131     66
52591  2017-12-31 15:30     93    100     36    170     74
52592  2017-12-31 16:00     74     92     36    159     57
52593  2017-12-31 16:30     57     98     29    135     70
52594  2017-12-31 17:00     54     85     28    115     51
52595  2017-12-31 17:30     61    103     37    110     33
52596  2017-12-31 18:00     51     88     31    114     40
52597  2017-12-31 18:30     62     88     28    110     42
52598  2017-12-31 19:00     54    105     39    114     64
52599  2017-12-31 19:30     56     63     33    127     48
52600  2017-12-31 20:00     50     73     38    122     43
52601  2017-12-31 20:30     56     97     38    117     43
52602  2017-12-31 21:00      0      0      0      0      0
52603  2017-12-31 21:30      0      0      0      0      0
52604  2017-12-31 22:00      0      0      0      0      0
52605  2017-12-31 22:30      0      0      0      0      0
52606  2017-12-31 23:00      0      0      0      0      0
52607  2017-12-31 23:30      0      0      0      0      0

[52608 rows x 6 columns]

In [6]:
melted = pd.melt(mall_data, id_vars=['Date'], var_name='Door', value_name='Count')

In [7]:
df = melted.sort_values(by = ['Date', 'Door']).reset_index(drop = True)

In [8]:
df.to_csv("door_data.csv")

In [133]:
np.power(3,2)

9

In [224]:
dif.days

61